name: Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Twee Autodeploy
        uses: Fireye04/Twee-Autodeploy@0.0.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
